body {
    padding:0px;
    margin:0px;
 }


.encabezado {grid-area: header;}
.barra-menu {grid-area: menu1;}
.derecha    {
    margin-top: 5%;
    grid-area: der;
    padding:15px;
}
.izquierda  {
    grid-area: izq;
    padding:15px;
    text-align: center;
}
.principal  {
    margin-top: 5%;
    grid-area: centro;
    padding:15px;
    text-align: center;

}
.imagen{
    margin-top: 5%;
    grid-area: img;
    text-align: right;
}
.abajo{
    grid-area: abaj;
}
.abaj2{
    grid-area: abaj2;
    text-align: center;
    margin: 20%;
}
.pie        {grid-area: footer;}

.foto{
    width: 200px;
    border-radius: 100px;
    padding: 10px;
}

/*------------------------------------------------------*/
/* Contenedor grid (Tamaño grande)
/*------------------------------------------------------*/
.contenedor {
    display: grid;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    /* cuatro filas y 3 columnas */
    grid-template: auto auto auto auto auto auto/ auto auto auto;
    gap:1px;
    grid-template-areas:
        "header header header"
        "menu1 menu1 menu1" 
        "img centro der"
        "abaj abaj abaj"
        "izq izq izq"
        "footer footer footer" ;
    
}

/*------------------------------------------------------*/
/* Contenedor grid (Tablet)
/*------------------------------------------------------*/
@media (max-width: 1280px) {
    .contenedor {
        display: grid;
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
        /* cuatro filas y 3 columnas */
        grid-template: auto auto auto auto auto auto/ auto auto auto;
        gap: 1px;
        grid-template-areas:
            "header header header"
            "menu1 menu1 menu1"
            "img centro der"
            "abaj abaj abaj"
            "izq izq izq"
            "footer footer footer";
    }
}


/*------------------------------------------------------*/
/* Contenedor grid (Telefono)
/*------------------------------------------------------*/
@media (max-width: 600px) {
    .contenedor {
        display: grid;
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
        /* cuatro filas y 3 columnas */
        grid-template: auto auto auto auto auto auto/ auto auto auto;
        gap: 1px;
        grid-template-areas:
            "header header header"
            "menu1 menu1 menu1"
            "img centro der"
            "abaj abaj abaj"
            "izq izq izq"
            "footer footer footer";
    }
}


/*------------------------------------------------------*/
/* Estilos de la barra de menu
/*------------------------------------------------------*/

nav {
    background: rgb(208, 173, 212);
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

nav li {
    display: inline-block;
}

nav li a {
    color: white;
    display: block;    padding:10px;
    text-align: center;
    /* background-color: #47478d; */
    border-radius: 10px;
    text-decoration: none;
} 

nav li a:hover {   
    background-color: #c43f91;
    animation: 0.9s infinite botonanim;
}
#conoc-li a:hover {
    background-color: #1b8ffe;
}
#pro-li a:hover {
    background-color: #05bb3b;
}

@keyframes botonanim {
    0% {transform:scaleX(1.0);

    }

    50% {transform:scaleX(1.1);
    }

    100% {transform:scaleX(1.0);
 
    }
    
}

/*-------------------------------------------------------------------*/
/* Estilos del footer
/*-------------------------------------------------------------------*/
.pie {
    background: rgb(208, 173, 212);
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px
}

.iconos {
    display: flex;
    column-gap: 10px;
}

.iconos > a {
    color:white;
    font-size: 24px;
}

/*-------------------------------------------------------------------*/
/* Estilos del header
/*-------------------------------------------------------------------*/
.encabezado {
    display: flex;
    background: rgb(208, 173, 212);
    color: white;
    padding: 10px;

}

#logo {
    width: 100px;
}

.enc-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
fieldset{
    text-align: center;
    border: none;

}
.contenido{
    display: none;

}
.formulario2 {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(15, 13, 13, 0.8);
    background: white;
}

form .grupo {
    position: relative;
    margin: 20px;
}

input {
    padding: 5px 5px 5px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid black;
}

button {
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #ffffff;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    background: black;
}
h1 {
    font-family : "Lobster", sans-serif;
}
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
}

    .card img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 150px;
    }

    .card:hover {
        transform: scale(1.05);
    }

.card-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.card-description {
    margin: 0 10px 10px 10px;
    font-size: 0.9em;
    color: #333;
}

/* Remove link style from card-description */
.card a {
    text-decoration: none;
    color: inherit;
}

    /* Ensure card-description is not underlined */
    .card a .card-description {
        text-decoration: none;
    }


.toggle-button {
    background-color: #83c1fc;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    display: none;
}
#proy {
    background-color: #84c798;
}


    .toggle-button.active + .contenido{
        display: block; /* Mostrar cuando el botón está activo */
    }